<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main-header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left-side-div -->
                    <div class="col-md-12 col-12 main-header-left align-items-center">
                        <figure class="errimg">
                            <img src="img/404.jpg" alt="page not found" class="img-fluid">
                        </figure>
            
                        {{!-- <h1>{{errorMsg}}</h1> --}}
                        <a href="/"><button>GO BACK</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- footer section -->

    {{>footer}}
</body>

</html>